<div class="jumbotron jumbotron-fluid">
  <h1 class="display-4">Welcome to List Share.</h1>
  <p class="lead">Sharing shopping lists have always been a problem among
    housemates so why not make it easier? This is as easy as it gets. Simply
     create a list and you're ready to share it with the world. 
  </p>
  <hr class="my-4">
  <p>Try making a new list here or lookup an existing one.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="/new" role="button">Create my List</a>
    <form class="form-inline link-search">
      <input class="form-control mr-sm-2" name="link" type="search" placeholder="List Code" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </p>
</div>