<div class="jumbotron jumbotron-fluid">
  <h1 class="display-3">Ready to make your list?</h1>
  <p class="lead">Simply choose a name and you're done!</p>
  <form action="/new" method="POST">
    <input name="name" placeholder="Name your list">
    <button class="btn btn-sm btn-primary" type="submit">Submit</button>
  </form>
</div>